<%- include("partials/header") %>

<p>If u need some help then type your informaton below</p>

<h1>TYPE HERE:</h1>
<form class="" action="/help" method="post">
  <div class="">
    <label for="title">Address</label>
    <input type="text"  class="form-control" name="address" value="">
  </div>
  <div class="">
  <label for="content">Needs</label>
  <textarea  name="needs" class ="form-control" rows="5" cols="80"></textarea>
</div>
<button type="submit" name="Submit">Submit</button>
</form>










<%- include("partials/footer") %>
