<%- include("partials/header") %>


<img class="im" src="https://media5.picsearch.com/is?GwUjTHYhtCqvDMERn4SwNa3b6Z_v-sMbW2-xwdOgoUo&height=255" alt="">
<h1 class="covid"><%=h%></h1>



<div class="pre">
  <h1 class="prec">PRECAUTIONS:</h1>
  <ul>
    <li>If the person who is sick can't wear a cloth face covering (or face mask), caregivers should wear one while they're in the same room.</li>
    <li>Make sure shared spaces in the home have good air flow. You can open a window or turn on an air filter or air conditioner.</li>
    <li>All household members should wash their hands well and often. Wash with soap and water for at least 20 seconds, or use alcohol-based hand sanitizer.</li>
    <li>Use separate bedding and towels and not share these with other household members. </li>
    <li>Tell other people who were around the sick person. Your local or state health department can help you if you aren't sure who to notify.</li>
  </ul>
</div>

<div class="contact">
  <p>for any query</p>
  <p>email-me:shrutimahajan2812@gmail.com</p>
</div>





<%- include("partials/footer") %>
